<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drivinglicence">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/driving"
        android:label="@string/app_name"
        android:roundIcon="@drawable/driving"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrivingLicense">

        <activity
            android:name=".app.activites.CountDownTestActivity"
            android:exported="false" />
        <activity
            android:name=".app.activites.LessonViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".app.activites.SearchLawActivity"
            android:exported="false" />
        <activity
            android:name=".app.activites.TipsActivity"
            android:exported="false" />
        <activity
            android:name=".app.activites.RoadTrafficSignsActivity"
            android:exported="false" />
        <activity
            android:name=".app.activites.LearningTheoryActivity"
            android:exported="false" />
        <activity
            android:name=".app.activites.TestLicenseActivity"
            android:exported="false" />
        <activity
            android:name=".app.activites.HomeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".app.activites.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>